h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.restoCardContainer{
    flex-direction: row;
    
    .restoCard{
        width:95%;
        height:410px;
        margin-bottom: 10px;
        .restaurantImg{
            height: 200px;
            margin: auto;
            height: 50%;
        }
        .restaurantInfos{
            height: 50%;
            padding: 0 10px;
            .restaurantLocation{
                text-align: left;
                padding-bottom: 5px;
                display: flex;
                .logoPosition{
                    vertical-align: middle;
                    max-height: 21px;
                }
            }
            .categoryContainer{
                .restaurantCategory{
                    width:fit-content;
                    padding:5px;
                    margin-right: 10px;
                }
            }
            .detailsBtn{
                background-color: rgba(0, 0, 0, 0.800);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
}